.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-100%, -100%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;

  max-width: 450px;
  min-height: 609px;

  padding: 40px;
  border-radius: 4px;
  background-color: #fff;

  transition: transform 250ms var(--timming-function);

  @media screen and (min-width: 1200px) {
    max-width: 528px;
    min-height: 581px;
  }
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.button-close__icon {
  fill: black;
  transition: fill 250ms var(--timming-function);

  .button-close:hover &,
  .button-close:focus & {
    fill: var(--accent-color);
  }
}
