.social-icons {
  display: inline-flex;
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;

  transition: background-color 250ms var(--timming-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: var(--icons-color);

  transition: fill 250ms var(--timming-function);

  .social-icons__link:hover &,
  .social-icons__link:focus & {
    fill: #ffffff;
  }

  &--light {
    fill: #ffffff;
  }
}

.social-icons__link--dark-bg {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timming-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
