:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --dark-bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
  --icons-color: #afb1b8;
  --title-font: 'Roboto', sans-serif;
  --grid-item: 1;

  --timming-function: cubic-bezier(0.4, 0, 0.2, 1);
}
