.clients__list {
  display: flex;
  padding: 0;
}

.clients__item {
  --grid-item: 2;

  @media screen and (min-width: 768px) {
    --grid-item: 3;
  }
  @media screen and (min-width: 1200px) {
    --grid-item: 6;
  }
}

.clients__icon {
  fill: var(--icons-color);
  transition: fill 250ms var(--timming-function);

  .clients__logo:hover &,
  .clients__logo:focus & {
    fill: var(--accent-color);
  }
}

.clients__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  background-color: #ffffff;

  transition: border 250ms var(--timming-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}
