.project-control {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
  }

  @media scren and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.project-control__item:not(:last-child) {
  margin-right: 8px;
}

.project-control__item {
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.project-control__button {
  background-color: #f5f4fa;
  min-width: 73px;

  font-family: var(--title-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--title-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border-color: transparent;
  box-shadow: none;

  transition: background-color 250ms var(--timming-function), box-shadow 250ms var(--timming-function),
    color 250ms var(--timming-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #ffffff;
  }
}

.project-card {
  box-sizing: border-box;
  --grid-item: 1;
  background: #ffffff;
  transition: filter 250ms var(--timming-function);

  @media screen and (min-width: 768px) {
    --grid-item: 2;
  }
  @media screen and (min-width: 1200px) {
    --grid-item: 3;
  }

  &:hover,
  &:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.project-card__wrap {
  position: relative;
  overflow: hidden;
}

.project-card__descripition {
  position: absolute;
  padding: 63px 24px;
  text-align: center;
  top: 0;
  bottom: 0;

  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;

  transform: translateY(100%);
  transition: transform 250ms var(--timming-function);

  .project-card:hover &,
  .project-card:focus & {
    transform: translateY(0);
  }
}

.project-card__text {
  text-align: start;
  font-size: 18px;
  line-height: 1.56;
}

.project-content__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.project-content__type {
  font-size: 16px;
  line-height: 1.9;
  color: var(--main-text-color);
  margin-bottom: 0;
}

.project-content {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  padding: 20px 24px;
  flex-grow: 1;
}

.project-card__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}
