.team {
  background-color: var(--second-bg-color);
}

.team__item {
  --grid-item: 1;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    --grid-item: 2;
  }
  @media screen and (min-width: 1200px) {
    --grid-item: 4;
  }
}

.team__member-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__member-name {
  font-size: 16px;
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team__member-position {
  color: var(--main-text-color);
  margin-bottom: 16px;
}
